<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="base_link" />
  <xacro:sensor_d435 parent="base_link" name="camera_left" publish_pointcloud="true">
    <origin xyz="0 0.3 0" rpy="-1.57 0 -2.3038"/>
  </xacro:sensor_d435>

  <xacro:sensor_d435 parent="base_link" name="camera_right" publish_pointcloud="true">
    <origin xyz="0 -0.3 0" rpy="-1.57 0 -0.8378"/>
  </xacro:sensor_d435>
</robot>
